@{
    ViewBag.Title = "Future TBD | Home";
}

<div class="container">
    <div class="row" style="margin-top: 45px;">
        <div class="col-xs-12">
            @Html.ActionLink("Search Colleges by Name", "Index", "Search")

        </div>
        <div class="col-xs-12">
            @Html.ActionLink("Search Colleges by State", "SearchByState", "Search")

        </div>

    </div>
</div>