@section scripts{

@Scripts.Render("~/Scripts/Search/searchScript.js")


}
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="margin-top: 40px;">
         
            <input id="searchInput" class="input-group form-control" type="text" style="display: inline; width: 500px;" placeholder="Search"/>
            <a id="searchLink"class="btn btn-info" style="margin-left: 10px;" >Search<span class="glyphicon glyphicon-search" style="margin-left: 15px;"></span></a>
        </div>
    </div>
</div>