@{
    ViewBag.Title = "Future TBD | Search by State";
}

@section scripts{

    @Scripts.Render("~/Scripts/Search/searchScript.js")
    @Scripts.Render("~/Scripts/jquery.accrue.js")
    <script type="text/javascript">
    
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-xs-12" style="margin-top: 40px;">
            <label>Select State</label>
            <select data-bind="options: States, optionsText: 'name', value: SelectedState" class="selectpicker"></select>

            <a data-bind="click: ExecuteSearchByState" id="searchLink" class="btn btn-info" style="margin-left: 10px;">Search<span class="glyphicon glyphicon-search" style="margin-left: 15px;"></span></a>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            <b>
                <span>Result: </span>
                <span data-bind="text: TotalResults"></span>
            </b>
        </div>
    </div>

    <div class="row" data-bind="visible: SearchResultItems().length>0">

        <table class="table table-striped table-hover" style="cursor: pointer;">
            <thead>
            <tr>
                <td>
                    <b> School Name</b>
                </td>
                <td>
                    <b>Admission %</b>
                </td>
                <td>
                    <b>
                        Size
                    </b>
                </td>
                <td>
                    <b>
                        Address
                    </b>
                </td>
                <td>
                    <b>
                        Highest Degree
                    </b>
                </td>
                <td>
                    <b>Tuition (In-State)</b>
                </td>
                <td>
                    <b>Tuition (Out-Of-State)</b>
                </td>
                <td>
                    <b>Avg Cost per Year</b>
                </td>
                <td>
                    <b>Years of Attendance</b>
                </td>
                <td>
                    <b>Loan Calculator <span style="margin-left: 3px" class="fa fa-info-circle" title="Click here to calculate repayment options"></span></b>
                </td>
                <td></td>
            </tr>
            </thead>
            <tbody>

            <!-- ko foreach: SearchResultItems-->
            <tr>

                <td data-bind="text: Name"></td>
                <td data-bind="text: admissionOverallRate"></td>
                <td data-bind="text: size"></td>
                <td data-bind="text: address"></td>
                <td data-bind="text: highestDegree()"></td>
                <td data-bind="text:  inTution"></td>
                <td data-bind="text:  outTution"></td>
                <td data-bind="text:  avgCostOfAttendance"></td>
                <td>
                    <input class="" type="number" data-bind="value: numberOfYears" style="width: 30px"/>
                </td>
                <td>
                    <span title="Calculate Loan" style="margin-left: 10px;" class="fa fa-calculator" data-bind="click: ShowCalculator"></span></td>
                <td data-bind="visible: !isInCompareList()">
                    <a data-bind="click:$parent.addToCompareList">
                        <span class="glyphicon glyphicon-plus"></span></a>
                </td>
                <td data-bind="visible: isInCompareList()">
                    <a data-bind="click:$parent.removeFromCompareList">
                        <span class="glyphicon glyphicon-minus"></span></a>
                </td>
            </tr>


            <!--/ko-->
            </tbody>


        </table>


    </div>


</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="loanCalculator" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="calculator"></div>
        </div>
    </div>
</div>